extends ../layout

block content
  .container
    script(src="/js/admin.js")
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 电影名
            th 导演
            th 主演
            th 类型
            th imdb
            th 国家
            th 语言
            th 上映时间
            th 评分
            th 录入时间
            th 查看
            th 更新
            th 删除
          tbody
            each item in movies
              tr(class="item-id-#{item._id}")
              td #{item.title}
              td #{item.director}
              td #{item.actor}
              td #{item.category}
              td #{item.imdb}
              td #{item.country}
              td #{item.language}
              td #{item.year}
              td #{item.stars}
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td: a(target="_blank", href="../movie/#{item._id}") 查看
              td: a(target="_blank", href="../admin/update/#{item._id}") 修改
              td 
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除

              